---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h3 class="h3 post-title">{{ post.title }}</h3>
		</a>
		<p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
		<p>{{ post.excerpt | strip_html | strip_newlines | truncate:170 }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h6>查看全文</h6>
		</a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
